html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    color: #ffecdb;
}

h1 {
    margin-block-start: 0;
    font-size: 30px;
}

p {
    font-size: 1em;
}

section {
    padding: 20px 20px;
    background-color: #076324;
    height: 100%;
}

#section2 {
    display: none;
}


/*
#section1{
	
}
*/

input {
    width: 10%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid lightgreen;
}

input:hover {
    border-bottom: 2px solid green;
}

input:focus {
    outline: none;
    border-bottom: 2px solid darkgreen;
}

#pokerTable {
    margin: auto;
    display: flex;
    width: 90%;
    height: 50vh;
    border: 2px solid white;
    border-radius: 50%;
}

.card {
    width: 120px;
    height: 183px;
    border: 1px solid white;
    margin: auto 0px;
    border-radius: 10px;
}

#currentCard {
    /*position: absolute;
    left: 300px;*/
    margin-left: auto;
    margin-right: 5%;
}

#nextCard {
    /*position: absolute;
    left: 500px;*/
    background-image: url("assets/card-back.png");
    border-bottom: 4px solid #b71c1ced;
    border-right: 2px solid #b71c1ced;
    box-shadow: 2px 1px 2px #b71c1c;
    margin-left: 5%;
    margin-right: auto;
    border-radius: 10px;
}

#nextCard .back {
    width: 120px;
    height: 183px;
    position: absolute;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    border-radius: 10px;
}

#nextCard.flip .back {
    -webkit-transform: rotateY(180deg);
}

#nextCard .front {
    position: absolute;
    left: 732px;
    width: 120px;
    height: 183px;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    border-radius: 10px;
}

#nextCard.flip .front {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    border-radius: 10px;
}

#imgBack {
    background-image: url("assets/card-back.png");
    width: 120px;
    height: 183px;
    border-radius: 10px;
}

#imgFront {
    background-image: url("assets/1C.png");
    width: 120px;
    height: 183px;
    border-radius: 10px;
}